In [1]:
import os 
import pandas as pd

In [2]:
path = ('D:\Downloads\py\Master Courses\TFM\Data\Datasets\Kaggle_college_student')
os.chdir(path)

In [8]:
df = pd.read_csv('student_clustering.csv', sep = ',', header = 0, engine = 'python')

In [9]:
df.head()

   cgpa   iq
0  5.13   88
1  5.90  113
2  8.36   93
3  8.27   97
4  5.45  110

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cgpa    200 non-null    float64
 1   iq      200 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB

In [11]:
df.describe()

             cgpa          iq
count  200.000000  200.000000
mean     6.983400  101.995000
std      1.624101   12.161599
min      4.600000   83.000000
25%      5.407500   91.000000
50%      7.040000  102.000000
75%      8.585000  113.000000
max      9.300000  121.000000